.app
.cdrc
.DS_Store
.DS_Store
.expansive-lastgen
.install-certs-modified
.install-certs-modified
.local.mk
.profile
.profile
.promoted
.tags
.tags*
.viscode
*.bak
*.db
*.guid
*.guid
*.jnl
*.log
*.o
*.o
*.pid
*.swo
**.swp
**/*.guid
**/reports/*
**/state/certs/**
**/state/config/provision.json5
**/state/db/*.sync
**/state/db/device.db.sync
**/state/db/shadow.*
**/state/device.db.sync
/build
/config/*
/dist
/doc/dist/**
/reports/*.html
/site/*
/state
app.tgz
apps/*/reports/*.html
apps/*/ui/dist/**
bin/json
build/
build/
build/docker/ui
build/img
certs/ca.db.attr
certs/ca.db.old
certs/ca.srl
certs/ca.srl.old
certs/01.pem
certs/ca.crt
certs/ca.key
certs/ec.crt
certs/ec.csr
certs/ec.key
certs/ioto.crt
certs/ioto.key
certs/self.crt
certs/self.key
certs/test.crt
certs/test.csr
certs/test.key
configure
doc/.expansive-lastgen
doc/api/ioto.tags
doc/package-lock.json
doc/package.json
leak.out
log.txt
node_modules
OLD
paks/manager/dist
projecs/*.sdf
projecs/*.sln
projecs/*.suo
projects/*-mine*
projects/*/project.xcworkspace/
projects/*/xcuserdata/
proto/
reports/*.html
sample
scale/state-*/db/**
semantic
serialize
site/size
test/.test-prepared
test/*/state/certs/*
test/*/state/db
testme/
tools/json
typings
valgrind.out
xcode-sample
