*.bak
*.db
*.log
*.pid
.profile
/doc/dist/**
/build
/dist
OLD
app.tgz
build/docker/ui
build/img
node_modules
semantic
typings
build/
valgrind.out
leak.out
sample
xcode-sample
serialize
doc/.expansive-lastgen
doc/package-lock.json
doc/package.json
*.jnl
*.guid
.local.mk
.tags*
.DS_Store
.install-certs-modified
*.swo
certs/ioto.crt
certs/ioto.key
**/state/db/shadow.*
**/state/db/*.sync
**/state/config/provision.json5
**/state/db/device.db.sync
**/state/device.db.sync
**/state/certs/**
doc/api/ioto.tags
**/*.guid
.DS_Store
.cdrc
.expansive-lastgen
.install-certs-modified
.profile
.tags
**.swp
build/
projects/*-mine*
projecs/*.sdf
projecs/*.sln
projecs/*.suo
projects/*/project.xcworkspace/
projects/*/xcuserdata/
site/size
test/.test-prepared
testme/
log.txt
test/*/state/db
test/*/state/certs/*
configure
/site/*
/config/*
**/reports/*
apps/*/ui/dist/**
/reports/*.html
apps/*/reports/*.html
paks/manager/dist
reports/*.html
scale/state-*/db/**
tools/json
.viscode
certs/01.pem
certs/ca.crt
certs/ca.key
certs/ec.crt
certs/ec.csr
certs/ec.key
certs/self.crt
certs/self.key
certs/test.crt
certs/test.csr
certs/test.key
/state
.app
proto/
*.o
