.app
.cdrc
.codegpt
.creds.sh
.DS_Store
.env
.install-certs-modified
.local.mk
.profile
.promoted
.prompt
.tags
.tags*
.viscode
*.bak
*.db
*.guid
*.jnl
*.log
*.o
*.pid
*.swo
**.swp
**/*.guid
**/reports/*
*K.txt
/build
/dist
/doc/dist/**
/reports/*.html
/state/
AGENT.md
apps/*/reports/*.html
apps/*/ui/dist/**
apps/demo/upload/*
bin/json
build/
configure
doc/api/ioto.tags
doc/package-lock.json
doc/package.json
include/config.h
local.json5
log.txt
node_modules
paks/manager/dist
projecs/*.sdf
projecs/*.sln
projecs/*.suo
projects/*-mine*
projects/*/project.xcworkspace/
projects/*/xcuserdata/
proto/
provision.json5
reports/*.html
sample
scale/state-*/db/**
semantic
serialize
site/size
start.me
typings
upload-*.tmp
valgrind.out
xcode-sample
