@keyframes border-pulsate {
    0% {
        border-color: rgba(0, 255, 255, 1);
    }
    50% {
        border-color: rgba(0, 255, 255, 0);
    }
    100% {
        border-color: rgba(0, 255, 255, 1);
    }
}
.pulse {
    border: 2px solid cyan !important;
    animation: border-pulsate 2s infinite !important;
}
